<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/HEADER.ejs")%>
  </head>
  <body>
    <%- include("./components/NAV.ejs")%>
    <div class="container mt-5">
      <h1>WELCOME HOME</h1>
    </div>
  </body>
</html>
